html, body {
    height: 100%;
}

body {
    overflow-x: hidden;

    background-color: #eee;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
}

h6 {
    text-decoration: underline;
}

hr {
    border-color: #ccc;
}

/* Header */

header {
    position: relative;

    height: 200px;
    margin-bottom: 0px;
    padding-top: 20px;
}

#cyber {
    width: 110%;
    height: 80px;
    margin-left: -5%;

    transform: rotate(-6deg);

    outline: 1px solid #333;
    background: url(/img/cyber_plain.png) repeat-x;
    background-size: contain;
}

#morningshow {
	position: absolute;
    top: 100px;

    width: 100%;

    text-align: center;

    font-family: 'Share Tech Mono', monospace;
    font-size: 40px;
    font-weight: bold;
}

@media (min-width: 768px) {
    header {
        height: 250px;
        margin-bottom: 40px;
        padding-top: 60px;
    }
    #cyber {
        width: 110%;
        height: 100px;

        transform: rotate(-6deg) translate(-10px);
    }
    #morningshow {
        top: 160px;

        font-size: 60px;
    }
}


/* Sections in general */


section {
    margin-bottom: 60px;

    text-align: justify;
}

.introduction {
    text-align: justify;
}



/* Section: Previous Shows; */

.prevshow {

}

.prevshow time {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
}

hr.prevshow-spacer {
    width: 250px;
    margin-left: 50px;
}


/* Section: Team; */

.team {
    display: flex;
    flex-direction: column;

}


/* Section: Credits; */

.credits {
    align-self: flex-end;

    margin-top: 40px;

    text-align: right;

    font-size: 8pt;
}




/* Special elements */


audio {
    width: 100%;
}

.tnte {
    cursor: url(/img/speaker.png), pointer;
}

.cyber {
    padding: 2px 5px;

    color: black;
    background-color: #E8DC1E;
}

@media (min-width: 768px) {
    audio {
        width: 380px;
    }
}


/* Icons */

.icon {
    display: inline-block;

    width: 32px;
    height: 32px;
}

.icon-twitter {
    display: inline-block;

    width: 20px;
    height: 20px;

    vertical-align: baseline;

    background: url(/img/twitter.png) no-repeat;
}

.icon-twitter-big {
    display: inline-block;

    width: 32px;
    height: 32px;

    vertical-align: -11px;

    background: url(/img/twitter-square.png) no-repeat;
}
